/* GENERAL */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1c1f26;

}

body {
    display: grid;
    grid-template-areas: "banner banner banner" "player player player" "main main main" "footer footer footer";
    grid-template-rows: [row1-start] 75vh[row1-end row2-start] 25vh [row2-end row3-start] auto[row3-end];
    grid-template-columns: 2% 1fr 2%;
}


/* HEAD */

body > header {
    grid-area: banner;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e34768;
    background: rgba(248, 119, 32, 1);
    background: -moz-linear-gradient(-45deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248, 119, 32, 1)), color-stop(100%, rgba(225, 55, 92, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    background: linear-gradient(135deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87720', endColorstr='#e1375c', GradientType=1);
    -webkit-box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
    box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
}

header > span:first-of-type {
    display: flex;
}

header h1 {
    align-self: flex-start;
    margin: 1em 0 0 0.5em;
    width: 2.4em;
    text-align: center;
    color: white;
    padding: 0.3em;
    border-bottom-right-radius: 0.5em;
    -webkit-box-shadow: 4px 6px 20px -1px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 4px 6px 20px -1px rgba(0, 0, 0, 0.48);
    box-shadow: 4px 6px 20px -1px rgba(0, 0, 0, 0.48);

}

header h2 {
    text-shadow: 6px 4px 11px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 1em 0 0 0;
    font-size: 3em;


}

header h3 {
    color: white;
    font-weight: 700;
    letter-spacing: 0.1em;
    justify-content: space-between;
    margin: 1em auto;


}


header > p {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}

header > span {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header > span:first-of-type {
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    flex-wrap: wrap;
}

header button {
    border: none;
    background: none;
    text-indent: -686em;
    margin-top: 3em;
    height: 8em;
    width: 8em;
    background-image: url(../images/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header > span > label {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.03em;
    width: 11em;
}

/* PLAYER INFO START */

aside {
    grid-area: player;
    display: flex;
    background-color: #1c1f26;
    border: none;
}

aside span {
    margin-left: 5%;
}

aside h1 {
    color: white;
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 0.1em;
}

aside h2 {
    color: white;
    margin-top: 0;

}

aside div {
    align-self: flex-start;
    position: absolute;
    margin-top: -2.5em;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

aside div:first-of-type {
    right: 4em;
    top: 74.3vh;
    height: 6em;
    width: 6em;
    background: rgba(85, 205, 177, 1);
    background: -moz-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(85, 205, 177, 1)), color-stop(100%, rgba(23, 155, 167, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: linear-gradient(135deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55cdb1', endColorstr='#179ba7', GradientType=1) -webkit-box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
    box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
}

play:hover,
play:focus {
    background-color: #1c1f26;
    box-sizing: border-box;
    background: #1c1f26;
    border-color: #179ba7;
    border-width: 3px;
    border-style: solid;

}

#play_button:focus,
#play_button:hover {
    background-image: url(../images/play_white.svg);
}

aside div:first-of-type button:first-of-type {
    z-index: au;
    border: none;
    background: none;
    text-indent: -688em;
    background-image: url(../images/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4em;
    width: 6em;
    height: 6em;
    margin: auto auto;

}

aside div:nth-of-type(2) {
    right: 0.5em;
    top: 76.85vh;
    height: 3em;
    width: 3em;
    background: rgba(85, 205, 177, 1);
    background: rgba(249, 127, 45, 1);
    background: -moz-linear-gradient(-45deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(249, 127, 45, 1)), color-stop(100%, rgba(227, 71, 105, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    background: linear-gradient(135deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97f2d', endColorstr='#e34769', GradientType=1);
    -webkit-box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
    box-shadow: 0px 13px 30px -5px rgba(0, 0, 0, 0.84);
}

aside div:nth-of-type(2) button:first-of-type {
    border: none;
    background: none;
    text-indent: -688em;
    background-image: url(../images/fast-forward-thick.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    height: 2em;
    margin: auto auto;

}

#forward:hover,
#forward:focus {
    background-color: red;
}

/* PLAYER INFO END */

/* MAIN START */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > img:first-of-type {
    bottom: 2em;
    width: 5%;
    position: fixed;
}

main article > h1 {
    color: white;
    text-align: center;
    font-size: 4em;
    font-variant: small-caps;
    margin: 1em 0 0 0;
}

article:first-of-type {
    width: 100%;
    background-color: #179ba7;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(85, 205, 177, 1);
    background: -moz-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(85, 205, 177, 1)), color-stop(100%, rgba(23, 155, 167, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: linear-gradient(135deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55cdb1', endColorstr='#179ba7', GradientType=1)
}

article:first-of-type > img:first-of-type {
    width: 10em;
    border-radius: 1em;
    align-self: center;
}

article:first-of-type > h2 {
    font-weight: 900;
    font-size: 1.7em;
}

article:first-of-type > p {
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 1em
}

article:first-of-type > p:nth-of-type(2) {
    margin-bottom: 2.5em;
}

article:nth-of-type(2) {
    width: 100%;
    background: rgba(28, 31, 38, 1);
    background: -moz-linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(28, 31, 38, 1)), color-stop(100%, rgba(70, 92, 105, 1)));
    background: -webkit-linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    background: linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1f26', endColorstr='#465c69', GradientType=1);
}

article:nth-of-type(2) > section {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 3em;
}

article:nth-of-type(2) > section > h1 {
    font-weight: 500;
    font-size: 1.7em;
    margin: 0;

}

article:nth-of-type(2) > section > img {
    width: 25%;
    margin: 0.5em 0 0.5em 0;
    align-self: center;
}

article:nth-of-type(2) > section > p {
    width: 90%;
    margin: 0 auto;
    max-width: 35em;
}

article:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(85, 205, 177, 1);
    background: rgba(249, 127, 45, 1);
    background: -moz-linear-gradient(-45deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(249, 127, 45, 1)), color-stop(100%, rgba(227, 71, 105, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    background: linear-gradient(135deg, rgba(249, 127, 45, 1) 0%, rgba(227, 71, 105, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97f2d', endColorstr='#e34769', GradientType=1);
    color: white;
}

article:nth-of-type(3) > section {
    display: flex;
    margin: 1em auto;
    flex-direction: column;
    text-align: center;
    background-color: #1c1f26;
    padding: 0.5em 1em;
    border-radius: 1em;
    min-width: 10em;
    width: 30em;
    background: rgba(28, 31, 38, 1);
    background: -moz-linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(28, 31, 38, 1)), color-stop(100%, rgba(70, 92, 105, 1)));
    background: -webkit-linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    background: linear-gradient(45deg, rgba(28, 31, 38, 1) 0%, rgba(70, 92, 105, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1f26', endColorstr='#465c69', GradientType=1);

}

article:nth-of-type(3) > section > img {
    max-width: 100%;
    margin: 0.5em 0 0.5em 0;
    align-self: center;
}

article:nth-of-type(3) > section > h1 {
    font-size: 2.5em;
}

article:nth-of-type(3) > section > p {
    margin: 0 auto;
}

/* PLAYER INFO END */

#arrow {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;

    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;

    animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
}

@media only screen and (min-width: 440px) {
    aside div:first-of-type {
        right: 4.5em;
    }
    aside div:nth-of-type(2) {
        right: 1em;
    }
}
