/* GENERAL */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1c1f26;
}

body {
    display: grid;
    grid-template-areas: "banner banner banner" "player player player" "main main main" "footer footer footer";
    grid-template-rows: [row1-start] 75vh[row1-end row2-start] 25em [row2-end row3-start] 10em [row3-end];
    grid-template-columns: 2% 1fr 2%;
}


/* HEAD */

body > header {
    grid-area: banner;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e34768;
    background: rgba(248, 119, 32, 1);
    background: -moz-linear-gradient(-45deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248, 119, 32, 1)), color-stop(100%, rgba(225, 55, 92, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    background: linear-gradient(135deg, rgba(248, 119, 32, 1) 0%, rgba(225, 55, 92, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87720', endColorstr='#e1375c', GradientType=1);
    -webkit-box-shadow: 0px 13px 30px -5px rgba(0,0,0,0.84);
-moz-box-shadow: 0px 13px 30px -5px rgba(0,0,0,0.84);
box-shadow: 0px 13px 30px -5px rgba(0,0,0,0.84);
}

header > span:first-of-type {
    display: flex;
}

header h1 {
    align-self: flex-start;
    margin: 1em 0 0 0.5em;
    width: 2.4em;
    text-align: center;
    color: white;
    padding: 0.3em;
    border-bottom-right-radius: 0.5em;
    -webkit-box-shadow: 4px 6px 20px -1px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 4px 6px 20px -1px rgba(0, 0, 0, 0.48);
    box-shadow: 4px 6px 20px -1px rgba(0, 0, 0, 0.48);
    background: rgba(85, 205, 177, 1);
    background: -moz-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(85, 205, 177, 1)), color-stop(100%, rgba(23, 155, 167, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: linear-gradient(135deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55cdb1', endColorstr='#179ba7', GradientType=1)
}

header h2 {
    text-shadow: 6px 4px 11px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 1em 0 0 0;
    font-size: 3em;
}

header h3 {
    color: white;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 3em 0;
}


header > p {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}

header > span {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header button {
    border: none;
    background: none;
    text-indent: -686em;
    margin-top: 3em;
    height: 8em;
    width: 8em;
    background-image: url(../images/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header > span > label {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.03em;
    width: 11em;
}

/* PLAYER INFO START */

aside {
    grid-area: player;
    display: flex;
    background-color: #1c1f26;
    border: none;
}
aside span{
    margin-left: 5%;
}

aside h1 {
    color: white;
    font-size: 2.5em;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}

aside h2 {
    color: white;
    margin-top: 0;
    
}
aside div {
    align-self: flex-start;
    margin-left: auto;
    margin-right: 10%;
    height: 7em;
    margin-top: -3.47em;
    border-radius: 4em;
    width: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(85, 205, 177, 1);
    background: -moz-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(85, 205, 177, 1)), color-stop(100%, rgba(23, 155, 167, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    background: linear-gradient(135deg, rgba(85, 205, 177, 1) 0%, rgba(23, 155, 167, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55cdb1', endColorstr='#179ba7', GradientType=1)
    -webkit-box-shadow: 0px 13px 30px -5px rgba(0,0,0,0.84);
-moz-box-shadow: 0px 13px 30px -5px rgba(0,0,0,0.84);
box-shadow: 0px 13px 30px -5px rgba(0,0,0,0.84);
}

aside div:hover, aside div:focus{
background: rgba(115,243,255,1);
background: -moz-linear-gradient(-45deg, rgba(115,243,255,1) 0%, rgba(23,154,166,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(115,243,255,1)), color-stop(100%, rgba(23,154,166,1)));
background: -webkit-linear-gradient(-45deg, rgba(115,243,255,1) 0%, rgba(23,154,166,1) 100%);
background: -o-linear-gradient(-45deg, rgba(115,243,255,1) 0%, rgba(23,154,166,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(115,243,255,1) 0%, rgba(23,154,166,1) 100%);
background: linear-gradient(135deg, rgba(115,243,255,1) 0%, rgba(23,154,166,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73f3ff', endColorstr='#179aa6', GradientType=1 );
}

aside div button{
    border: none;
    background: none;
    text-indent: -688em;
    background-image: url(../images/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 5em;
    height: 5em;
    margin: auto 2.7em;
}
/* PLAYER INFO END */

/* MAIN START */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > img:first-of-type {
    bottom: 2em;
    width: 5%;
    position: fixed;

}

article:first-of-type {
    width: 100%;
    margin-top: 6em;
    background-color: #179ba7;
}

/* PLAYER INFO END */

#arrow {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;

    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;

    animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
}
