@media(min-width: 1000px) {
    label {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .nice-select {
        width: 20em;
    }

    article:nth-of-type(2) > section {
        margin-top: 2em;
        width: 30%;

    }
    article:nth-of-type(2) > section:nth-of-type(odd) {
        margin-left: 20%;
        margin-right: auto;

    }
    article:nth-of-type(2) > section:nth-of-type(even) {
        margin-left: auto;
        margin-right: 20%;
    }

    article:nth-of-type(2) {
        padding-bottom: 5em;
    }
    article:nth-of-type(3) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    article:nth-of-type(3) > h1 {
        width: 100%;
        margin-bottom: 1.5em;
    }

    article:nth-of-type(3) > section > h2 {
        position: absolute;
        top: 14em;
        margin-left: 10%;
        width: 80%;
        color: #1c1f26;
        font-size: 2em;
    }
    article:nth-of-type(3) > section > h2:nth-of-type(2) {
        top: 15em;

    }

    article:nth-of-type(3) > section {
        min-width: 30%;
        width: 32%;
        max-width: 32%;
        margin-bottom: 3em;
        padding: 1.5em;
    }

    article:nth-of-type(3) > section > img {
        max-height: 25em;
    }
    article:nth-of-type(3) > section:nth-of-type(odd) {
        margin-left: 15%;
        margin-right: auto;
    }

    article:nth-of-type(3) > section:nth-of-type(even) {
        margin-left: auto;
        margin-right: 15%;

    }
    article:nth-of-type(3) > section > p,
    article:nth-of-type(3) > section > h3,
    article:nth-of-type(3) > section > button {
        align-self: flex-end;
        bottom: 0;
    }

    article:nth-of-type(3) > section > p {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;

        margin-left: 0;
    }

    article:nth-of-type(3) > section > h3 {
        margin-top: 1em;
        width: 100%;
    }

    article:nth-of-type(3) > section > button {
        width: 80%;
        max-width: 15em;
        margin: 0.5em auto;
    }

    article:nth-of-type(3) > button {
        width: 50%;
        max-width: 15em;
    }

    main > article > button {
        margin-bottom: 2%;
    }

    footer span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3em;
        width: 8%;
        margin-bottom: 3em;
        margin: 0 auto 2em auto;
    }
}
